*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    padding: 0 6rem;
}
/* Navbar */
.nav-all{
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.nav-all .nav-left{
    width: 20%;
}
.nav-all .nav-left a{
    width: 100%;
    color: #373737;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0;
}
.nav-all .nav-right{
    width: 75%;
    text-align: right;
}
.nav-all .nav-right a{
    width: 100%;
    color: #151515;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
}
.nav-all .nav-right .az{
   color: #212529;
   font-size: 16px;
   padding: 8px;
}
.nav-all .nav-right i{
    color: #212529;
    font-size: 16px;
    padding: 20px 0;
    padding-left: 20px;
}
/* Navbar */

#vergi{
    padding: 3rem 0;
    width: 100%;
    background-color: #FBFBFB;
}
#vergi .vergi-all{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;

}
#vergi .vergi-all .vergi-left{
    width: 68%;
}
#vergi .vergi-all .vergi-left img{
    width: 100%;
    border-radius: 5px;
    height: 93%;
    vertical-align: bottom;
    object-fit: cover;
}
#vergi .vergi-all .vergi-right{
    width: 30%;
    margin-left: 12px;
}
#vergi .vergi-all .vergi-right .first{
    width: 100%;
    background-color: #69acf1;
    padding: 35px;
    margin-bottom: 15px;
    border-radius: 7px;
}
#vergi .vergi-all .vergi-right .first a{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}
#vergi .vergi-all .vergi-right .second{
    width: 100%;
    background-color: #0ec4a3;
    padding: 35px;
    margin-bottom: 15px;
    border-radius: 7px;
}
#vergi .vergi-all .vergi-right .second a{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}
#vergi .vergi-all .vergi-right .third{
    color: #212529;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFFFFF;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #37373746;
}
#vergi .vergi-all .vergi-right .third img{
    font-size: 16px;
    padding: 0 15px;
    margin: 4px 0;
}
#vergi .vergi-all .vergi-right .third .text p{
    color: #303030;
    font-size: 16px;
}
#vergi .vergi-all .vergi-right .third .text .bottom {
    color: #303030;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
#search{
    width: 100%;
    padding: 5rem 0;
}
#search .search-all{
    width: 100%;
    display: flex;
    justify-content: space-between;
  
}
#search .search-all .left{
    width: 50%;
    
}
#search .search-all .left .p {
    color: #4a4e4e;
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
}
#search .search-all .left .pi p{
    color: #535353;
    font-size: 16px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid #15151510;
    box-shadow: -1px 1px 12px 8px #0000001c
}
#search .search-all .right{
    width: 48%;
}
#search .search-all .right .top{
    display: flex;
    justify-content: space-between;
   
}
#search .search-all .right .top p{
    color: #4a4e4e;
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
    font-weight: bold;
}
#search .search-all .right .top a,i{
    color: #5d8ab9;
    font-size: 16px;
}
#search .search-all .center{
    background-color: #fff;
    padding: 18px 15px;
    border: 1px solid #15151510;
    box-shadow: -1px 1px 12px 8px #00000013
}
#search .search-all .center .first{
    color: #FFF;
    font-size: 22px;
    background-color: #8bc5ff;
    padding: 10px 22px;
    margin-right: 15px;
}
#search .search-all .center .second{
    color: #8bc5ff;
    font-size: 22px;
    background-color: #fff;
    padding: 10px 22px;
    border: 1px solid #8bc5ff;
}
#search .search-all .bottom{
    color: #212529;
    padding: 10px 15px;
    border: 1px solid #15151510;
    box-shadow: -1px 1px 12px 8px #0000001a;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
#search .search-all .bottom a{
    color: #535353;
    font-size: 20px;
    margin-bottom: 20px;
}
#news{
    padding: 5rem 0;
    width: 100%;
}
#news .news-all{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-all .photos{
    width: 23%; 
    margin-top: 20px;
    position: relative;
    text-align: center;
 }
 .news-all .photos img{
     width: 100%;
     height: 170px;
     object-fit: cover;
     vertical-align: bottom;
 }

#news  .head{
    display: flex;
    justify-content: space-between;
}
#news  .head .first {
    color: #4e4e4e;
    font-size: 20px;
    font-weight: bold;
}
#news  .head .right p,i{
    color: #5d8ab9;
    font-size: 16px;
    text-align: right;
}
.photos span{
    color: #FFFFFF;
    font-size: 10px;
    background-color: #69acf1;
    padding: 5px 10px;
    position: absolute;
    left: 0;
    bottom: 80px;
}
#electron{
    padding: 5rem 0;
    width: 100%;
}
#electron  .head .first {
    color: #4e4e4e;
    font-size: 20px;
    font-weight: bold;
}
#electron  .head .right p,i{
    color: #5d8ab9;
    font-size: 16px;
    text-align: right;
}
#electron .electron-all{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 20px;
}
#electron .electron-all .photos{
    width: 7%;
    margin-top: 50px;   
}
#electron .electron-all .photos img{
    width: 100%;
    height: 100%;  
}
#electron .electron-all .photos p{
    color: #5b5b5b;
    font-size: 14px;
    text-align: center;
}
#about{
    padding: 50px 0;
    background-color: #FBFBFB;
}
#about .all-about{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#about .box p{
    font-size: 18px;
    color: #4e4e4e;
}
#about .all-about .text {
    background-color: #fff;
    padding:10px 20px;
    margin-right:30px ;
}
#about .all-about .end{
    background-color: #5d8ab9;
}
#about .all-about .end h5{
    color: #fff;
}
#about .all-about .end span{
    color: #fff;
}
#about .all-about p{
    color: #4e4e4e;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
#about .all-about h5{
    color: #151515;
    font-size: 13px;
    margin: 15px 0 10px;
    padding: 10px 0 20px;
    font-weight: 300;
    line-height: 20px;
}
#about .all-about span{
    color: #5d8ab9;
    font-size: 14px;
    font-weight: bold;
}
#photonews{
    padding: 5rem 0;
    width: 100%;
}
#photonews .newsall{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#photonews .newsall .photo{
    width: 23%;
    border: 2px solid #15151510;
    box-shadow: -1px 2px 12px 8px #00000013;
    margin-bottom: 20px;
}
#photonews .newsall .photo .top img{
    width: 100%;
    padding: 10px; 
}
#photonews .newsall .photo .bottom h3{
    color: #434343;
    font-size: 14px;
    padding: 20px 5px;
}
#final{
    padding: 5rem 0;
    width: 100%;
}
#final .finalall{
    width: 100%; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    
}
#final .finalall .box{
    width: 17%;
    border: 2px solid #15151510;
    box-shadow: -1px 2px 12px 8px #00000013;
    font-size: 16px;
    padding: 20px 40px;
    margin: 15px 0;
    
}

#final .finalall .box a{
    color: #3a3a3a;
    font-size: 16px;

    

    
}

















    








